<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{PageTitle}}</title>
</head>
<body>
{{> header}}
<p>Hi, we are here to provide you weather condition of your area!</p>

{{> footer}}
</body>
</html>