<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{PageTitle}}</title>
</head>
<body>
<h1><b>We'll be right back soon.....</b></h1>
<p><b> This site is currently being updated</b></p>

{{> footer}}
</body>
</html>